<div class="flex flex-col gap-4">
  <!-- <div class="border px-4 py-2">
    <p>Select all that apply to your entity</p>

    <div
      *ngFor="let checkbox of checkBoxList; trackBy: trackCheckBox"
      class="mt-4 flex flex-col gap-2"
    >
      <div class="flex items-start gap-4">
        <input
          type="checkbox"
          (change)="onCheckBoxChange(checkbox)"
          [checked]="checkbox.checked"
        />

        <p>{{ checkbox.label }}</p>
      </div>
    </div>
  </div> -->

  <div *ngIf="checkBoxResult()">
    <rekyc-bo-input *ngIf="checkBoxResult() === 'input'" />
    <rekyc-bo-fileupload *ngIf="checkBoxResult() === 'fileupload'" />
  </div>
</div>
