<div class="flex h-full w-full flex-col gap-2 overflow-hidden">
  <div class="flex items-center justify-between px-2">
    <div class="ml-2 text-xs">
      <p>Please make sure the required fields are filled</p>
      <ul class="list-inside list-disc">
        <li class="font-medium text-secondary">Edited</li>
        <li class="font-medium text-primary">Prefilled (Editable)</li>
      </ul>
    </div>

    <div *ngIf="!isFetchingFormData()" class="flex items-center gap-2">
      <!-- <ng-container *ngIf="isSubmitted()">
        <p class="font-medium text-success">
          You have already submitted the form!
        </p>
      </ng-container> -->

      <ng-container>
        <ui-button label="Save" (btnClick)="onSave()" />
        <ui-button
          *ngIf="isSaveBtnClicked()"
          class="btn-outline min-h-[33px] min-w-[106px]"
          [label]="isGettingReport() ? '' : 'Submit'"
          [loading]="isGettingReport()"
          [disabled]="isGettingReport()"
          (btnClick)="getReport()"
        />
      </ng-container>
    </div>
  </div>
  <iframe
    #pdfViewer
    src="./assets/forms/rekyc/rekyc.html"
    width="100%"
    height="100%"
  ></iframe>
</div>
