<header
  class="relative flex justify-between bg-white px-10 py-3 drop-shadow-lg"
>
  <div class="flex items-center gap-4">
    <div>
      <img
        src="./assets/images/logo/kycus-logo.webp"
        alt="Kycus"
        class="w-20 object-contain"
      />
    </div>

    <div class="flex flex-col items-start gap-1 border-l-2 pl-4 text-primary">
      <p>RE KYC - NON INDIVIDUAL</p>
      <!-- <img
        src="./assets/images/logo/hdfc.webp"
        alt="HDFC"
        class="w-32 object-contain"
      /> -->
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex flex-col border-r-2 pr-4 text-end text-primary">
      <p>{{ entityInfo()?.entityName }}</p>
      <span class="text-xs">Private Limited</span>
    </div>

    <div class="flex items-center gap-3">
      <div>
        <p>{{ ausInfo()?.ausName }}</p>
        <span class="text-xs text-gray-500">{{ getAusType }}</span>
      </div>
      <div>
        <img src="./assets/svgs/user.svg" alt="User" />
      </div>
    </div>
  </div>

  <!-- <ui-menu [menuItems]="menuOptions" /> -->
</header>
