{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 80,
        "wrapAttributes": "force-aligned"
      }
    },
    {
      "files": ["*.ts", "*.js", "*.json"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
