<app-sheet
  [isOpen]="openSheet"
  (closeSheet)="handleReKycSheet()"
  class="w-[600px]"
  contentClass="px-0 py-0"
>
  <header class="bg-slate-300 px-4 py-4">
    <h5 class="text-primary">Preview Document</h5>
  </header>

  <div *ngFor="let doc of data; trackBy: trackDoc" class="divide-y-2">
    <div class="flex justify-between border p-4">
      <div class="flex flex-col gap-1">
        <p>{{ doc?.label }}</p>

        <p
          [ngClass]="{
            'text-success': doc?.isVerified,
            'text-primary': !doc?.isVerified,
          }"
        >
          {{ doc?.isVerified ? 'Document verified!' : 'Document submitted!' }}
        </p>
      </div>

      <div class="">
        <div *ngFor="let item of doc.data | presentValues; trackBy: trackByKey">
          <div class="flex items-center gap-2 text-xs">
            <p *ngIf="item[0] !== 'Proof of Address'" class="text-gray-500">
              {{ item[0] }}:
            </p>
            <p *ngIf="item[0] !== 'Proof of Address'">
              {{ item[1] }}
            </p>
            <ng-container *ngIf="item[0] === 'Proof of Address'">
              <div
                *ngFor="let d of item[1] | presentValues; trackBy: trackByKey"
              >
                <div class="flex flex-col gap-2 text-xs">
                  <!-- <p class="text-gray-500">{{ item[0] }}:</p> -->
                  <p>{{ d[1] }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-sheet>
