<div class="flex h-[100px] items-center justify-between border-b border-black">
  <div>
    <!-- <img src="./assets/images/logo/hdfc.webp" alt="HDFC" /> -->
  </div>

  <div class="text-center">
    <h6 class="font-sans font-semibold text-formTextPrimary">
      CUSTOMER UPDATION FORM
    </h6>
    <h6 class="font-sans font-semibold text-formTextPrimary">
      FOR RE KYC-NON-INDIVIDUALS
    </h6>
    <p class="text-formTextSecondary">
      &#123;All fields with * are mandatory&#125;
    </p>
  </div>

  <div class="h-[70px] w-[150px] border">
    <div class="flex-center size-full">Bar Code</div>
  </div>
</div>
