<!-- <header class="flex h-14 w-full items-center justify-between bg-white px-6">
  <div class="w-20">
    <img
      src="./assets/images/logo/kycus-logo.webp"
      alt="Kycus Logo"
      (click)="navigateToHome()"
      class="cursor-pointer"
      role="button"
      tabindex="0"
      (keydown.enter)="navigateToHome()"
      (keydown.space)="navigateToHome()"
    />
  </div>

  <div class="flex items-center gap-4">
    <div
      *ngFor="let icon of iconsArr; trackBy: trackIcon"
      class="flex h-9 w-9 cursor-pointer items-center justify-center rounded-full bg-primary"
      role="button"
      tabindex="0"
      (click)="handleIconClick(icon.name)"
      (keydown.enter)="handleIconClick(icon.name)"
      (keydown.space)="handleIconClick(icon.name)"
    >
      <lucide-icon [name]="icon.name" [color]="icon.color" [size]="icon.size" />
    </div>
  </div>
</header> -->

<header
  class="relative flex justify-between bg-white px-10 py-3 drop-shadow-md"
>
  <div class="flex items-center gap-4">
    <div>
      <img
        src="./assets/images/logo/kycus-logo.webp"
        alt="Kycus"
        class="w-20 cursor-pointer object-contain"
        (click)="navigateToHome()"
        role="button"
        tabindex="0"
        (keydown.enter)="navigateToHome()"
        (keydown.space)="navigateToHome()"
      />
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <div>
        <p class="text-base">{{ userEmail }}</p>
      </div>
      <div>
        <img src="./assets/svgs/user.svg" alt="User" />
      </div>
    </div>
  </div>

  <!-- <ui-menu [menuItems]="menuOptions" /> -->
</header>
