<form
  [formGroup]="form"
  (ngSubmit)="submit('submit')"
  class="flex flex-col gap-4"
>
  <div formArrayName="persons">
    <div
      *ngFor="
        let person of boDetailsArray.controls;
        let personIndex = index;
        trackBy: trackBO
      "
    >
      <div class="mb-2 flex items-center justify-between px-2">
        <h6 class="mb-2 text-primary">
          Beneficiary Owner {{ personIndex + 1 }}
        </h6>

        <div
          *ngIf="personIndex > 1"
          class="group self-end rounded-md bg-secondary/20 p-2 hover:bg-secondary/30 group-hover:bg-red-50"
        >
          <lucide-icon
            name="trash-2"
            color="#FF0000"
            size="16"
            class="hover:scale-110"
            (click)="removePerson(personIndex)"
          />
        </div>
      </div>

      <div class="mb-6 divide-y-2 rounded-lg border">
        <div
          *ngFor="let doc of documentKeys; trackBy: trackDoc"
          class="flex items-center justify-between px-4 py-4"
        >
          <div class="w-[42%]">
            <div class="flex flex-col gap-2">
              <p>
                {{ person.get(doc + '.label')?.value }}
                <span
                  *ngIf="person.get(doc + '.isRequired')?.value"
                  class="text-red-500"
                >
                  *
                </span>
              </p>

              <ui-select
                *ngIf="doc === 'addressProof' || doc === 'identityProof'"
                [options]="
                  doc === 'addressProof' ? addressProofList : identityProofList
                "
                (valueChange)="onProofDocChange(personIndex, doc, $event)"
                placeholder="Choose Proof of Address"
                [defaultValue]="
                  person.get([doc, 'file', 'selectedType'])?.value
                "
              ></ui-select>
            </div>

            <span
              class="text-xs text-red-500"
              *ngIf="
                person.get([doc, 'file', 'name'])?.errors?.['required'] &&
                person.get([doc, 'file', 'name'])?.touched
              "
            >
              {{
                doc === 'addressProof'
                  ? 'Address Proof'
                  : doc === 'identityProof'
                    ? 'Identity Proof'
                    : doc.charAt(0).toUpperCase() + doc.slice(1)
              }}
              is required
            </span>
          </div>

          <div>
            <ui-upload-button
              *ngIf="!person.get(doc + '.file.name')?.value"
              [accept]="proofDoc(doc) ? '.pdf' : '.jpg, .png'"
              [disabled]="
                doc === 'addressProof'
                  ? person.get(doc + '.file.selectedType')?.value === ''
                  : false
              "
              (selectedFile)="onFileSelection(personIndex, doc, $event)"
            ></ui-upload-button>

            <div
              *ngIf="person.get(doc + '.file.name')?.value"
              class="flex items-center gap-2"
            >
              <ui-filename
                [fileName]="person.get(doc + '.file.name')?.value"
                [fileLink]="person.get(doc + '.file.link')?.value"
                (removeFile)="deleteDocument(personIndex, doc)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ui-button
  label="Add Beneficiary Owner"
  (btnClick)="addBoDetail()"
  icon="plus"
  [iconSize]="16"
  class="btn-outline"
/>
