// Variants
$primary: #01327e;
$secondary: #ce8769;

// Text Colors
$text-body: #454f5e;
$text-accent: #aebdd2;
$text-dark: #050e1c;
$text-subtle: #7b8798;

// Indicators
$failure: #e74c3c;
$success: #27ae60;
$warning: #f39c12;
$info: #3498db;
$danger: #ff0000;

// Backgrounds
$bg-light: #f8f9fa;
$bg-dark: #1e293b;
$border-color: #d1d5db;

// Theme Colors
$white: #ffffff;

// Application Form
$form-text-primary: #4b4b4d;
$form-text-secondary: #262900;
