<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div
        *ngFor="let item of screenHeaders; trackBy: trackScreenHeader"
        class="border-b-2 border-gray-300 px-4 py-2"
        [ngClass]="{
          'border-b-primary': currentScreen() === item.value,
        }"
      >
        <ui-button
          class="btn-nostyle font-medium"
          [ngClass]="{
            'text-gray-500': currentScreen() !== item.value,
            'text-primary': currentScreen() === item.value,
          }"
          [label]="item.label"
          (btnClick)="setCurrentScreen(item.value)"
        />
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="currentScreen()">
    <rekyc-entity-details *ngSwitchCase="'entity-details'" />
    <rekyc-directors-form *ngSwitchCase="'directors'" />
    <rekyc-bo-form *ngSwitchCase="'bo'" />
  </ng-container>
</div>
