@keyframes toast-in {
  0% {
    transform: translateY(-100%) scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    transform: translateY(10%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}

@keyframes toast-out {
  0% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  30% {
    transform: translateY(10%) scale(1.05);
  }
  100% {
    transform: translateY(-100%) scale(0.9);
    opacity: 0;
  }
}

.animate-toast-in {
  animation: toast-in 0.3s ease-in-out forwards;
}

.animate-toast-out {
  animation: toast-out 0.3s ease-in-out forwards;
}
